<div class="conteiner">
  <h3>Interfaçe The Dude</h3>
  <img src="assets/userdude.PNG" alt="The Dude user">
  <p>Server: 10.10.10.246</p>
  <p>Port: 8291</p>
  <p>User Name: suporte</p>
  <p>Senha: suporte@123</p>
  <img src="assets/thedude.jpeg" alt="The Dude">
  <p>Cada marcação dentro desse mapa é um ponto de acesso, dentro de cada ponto de acesso exite outro submapa</p>
  <h2>SubMapa de Pirapora</h2>
  <img src="assets/dudepirapora.jpeg" alt="The Dude de Pirapora">
  <p>Dentro do submapa existem vários outros pontos de acesso com o nome do ponto e o ip que esse ponto esta monitorando</p>
  <img src="assets/pontodeacessosubmapa.PNG" alt="Ponto de acesso do submapa">
  <div class="pontoacesso">
    <p><img src="assets/linkon.PNG" alt="Link online"> Link Online</p>
    <p><img src="assets/linkoff.PNG" alt="Link offline"> Link Offline</p>
    <p><img src="assets/linkdesativado.PNG" alt="Link Desativado">Link desativado</p>
  </div>
  <h3>Como fazer o teste de ping e editar um ponto de acesso</h3>
  <div class="pingdude">
    <video src="assets/Pingdude.mp4"></video>
  </div>
</div>
