<div class="container">
  <h3>Greatek GWR1200AC</h3>
  <p>Este é um roteador sem fio, que integra o compartilhamento de internet e intranet, com 4
    portas RJ-45 e firewall all-in-one. Compatível com criptografias WEP (wireless LAN
    64/128-bit), WPA/WPA2 e WPA-misto. O roteador WR-1500L permite a conexão de redes
    sem fio de uma maneira fácil e segura. Solução de alta performance para escritórios, redes
    domésticas e pequenas empresas.
  </p><br><br>
  <img src="assets/greatek.jpg" alt="roteador greatek">
  <ul>
    <li>Portas: 3 portas LAN, 1 porta WAN 10/100/1000 Mbps</li>
    <li>Antenas: 4 antenas fixas de 5dBi</li>
    <li>Botões: Reset, WPS</li>
    <li>LED: Status</li>
    <li>Frequência: 2.4Ghz / 5Ghz</li>
    <li>Velocidade Wi-Fi: 2.4Ghz a 300Mbps + 5Ghz a 867Mbps</li>
    <li>Potencia: 100mW (20dBm)</li>
  </ul>
  <img src="assets/telalogingreatek.png" alt="Tela de login do Greatek">
  <p>Acessando o aparelho via web caimos na tela de login, a senha para acessar os aparelhos são:</p><br>
  <ul>
    <li>User Name: admin / super</li>
    <li>Password: admin / fiberonnet / F1b3rOnn37 / super123</li>
  </ul>
  <img src="assets/greatektela.png" alt="Tela de login">
  <p>Na barra horisontal</p>

</div>
