<div class="conteiner">
  <h3>Nos trabalhamos com 2 modelos de Huawei Gigabit</h3>
  <p>O EG8145V5 de 2 antenas</p>
  <img src="assets/huawei2antenas.png" alt="huawei 2 antenas">
  <p>Acessando o aparelho via web caimos na tela de login, em Patos a senha para acessar os aparelhos são:</p><br>
    <ul>
      <li>User Name: onnet / Epadmin</li>
      <li>Password: F1ber@OnNet / adminEp</li>
    </ul>
  <img id="telalogin" src="assets/telaloginhuaweiazul.png" alt="tela de login do huawei azul">
  <p>Esse modelo de huawei possui uma interfaçe azul bem intuitiva e autoexplicativa</p>
  <video src=""></video>
  <p>O segundo modelo do huawei é HS8546V, um aparelho maior com as antenas internas</p>
  <div class="huawei">
    <img src="assets/huaweisemantenas.png" alt="Huawei sem antenas">
    <img src="assets/huaweisemantenasverso.png" alt="Huawei sem antenas">
  </div>
</div>
