<div class="container">
  <h3>Nos trabalhamos com 2 modelos de Huawei Gigabit</h3>
  <p>O EG8145V5 de 2 antenas</p>
  <div class="huawei">
    <img src="assets/huawei2antenas.png" alt="huawei 2 antenas" />
    <img src="assets/huawei2antenasverso.png" alt="huawei 2 antenas verso" />
  </div>
  <p>
    Acessando o aparelho via web caimos na tela de login, em Patos a senha para
    acessar os aparelhos são:
  </p>
  <br />
  <ul>
    <li>User Name: onnet / Epadmin</li>
    <li>Password: F1ber@OnNet / adminEp</li>
  </ul>
  <br />
  <p>
    Esse modelo de huawei possui uma interfaçe azul bem intuitiva e
    autoexplicativa
  </p>
  <div class="pingdude">
    <video src="assets/huawei2antenas.mp4" controls></video>
  </div>
  <p>
    Acessando o aparelho cairá na tela inicial como mostra o video acima, em
    vertical a barra de navegação para realizar as configurações do aparelho.
    <img
      class="huaweilogin"
      src="assets/telainicial.PNG"
      alt="Tela de início"
    />
  </p>

  <p>
    Entrando na terceira opção, <b>System Information</b> e <b>Device</b> você
    pode consultar todas as informações do aparelho, como modelo, serial, a
    versão do software, utilização de cpu e memoria do aparelho.
  </p>
  <img
    class="huaweilogin"
    src="assets/infohw.png"
    alt="Informações do sistema"
  />
  <p>
    Ainda em <b>System Information</b>, acessando <b>Optical</b> nos temos
    acesso ao sinal da fibra que esta sendo entregue no aparelho e a temperatura
    de trabalho do aparelho.
  </p>
  <br />
  <p>
    Temperatura acima de 60º graus pode ocasionar problemas de superaquecimento
  </p>
  <br />
  <p>
    O sinal da fibra óptica nada mais é que a intensidade da luz que esta
    chegado no aparelho, como o sinal é negativo, quanto o maior o sinal mais
    forte ele é, por exemplo -15dBm, nesse caso quanto o maior o sinal melhor,
    porem se o aparelho estiver com o sinal muito baixo a partir de -25dBm pode
    influenciar bastante na qualidade do sinal da conexão.
  </p>

  <img
    class="huaweilogin"
    src="assets/telasinalhw.png"
    alt="Informações do sistema"
  />
  <p>
    Em <b>VoIP</b> nos conseguimos confirmar se a parte de telefonia fixa esta
    funciona do corretamente.
  </p>
  <img class="huaweilogin" src="assets/telefoniahwa.png" alt="Telefonia" />
  <p>
    Em <b>Eth Port</b> nos conseguimos ver se possui algum cabo conectado em
    alguma porta LAN do aparelho
  </p>
  <img class="huaweilogin" src="assets/caboslanhw.png" alt="LAN" />
  <p>
    Em <b>WLAN</b> conseguimos visualizar algumas informações sobre as
    configurações das redes wifi
  </p>
  <img class="huaweilogin" src="assets/wlan.png" alt="WLAN" />

  <p>
    O segundo modelo do huawei é HS8546V, um aparelho maior com as antenas
    internas
  </p>

  <div class="huawei">
    <img src="assets/huaweisemantenas.png" alt="Huawei sem antenas" />
    <img src="assets/huaweisemantenasverso.png" alt="Huawei sem antenas" />
  </div>
  <p>
    Acessando o aparelho via web caimos na tela de login, em Patos a senha para
    acessar os aparelhos são:
  </p>
  <br />
  <ul>
    <li>User Name: onnet / Epadmin</li>
    <li>Password: F1ber@OnNet / adminEp</li>
  </ul>
  <img
    class="huaweilogin"
    src="assets/huaweitelalogin.png"
    lt="Tela de login do huawei"
  />
</div>
