#inter {
  width: 60em;
}

#telalogin {
  width: 60em;
}

.huawei img {
  width: 30em;
  display: inline;
  margin: 5em 5.3em;
}

.pingdude video {
  width: 50em;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5em auto;
}

.huaweilogin {
  width: 70em;
}
