*{margin: 0;
  padding: 0;

}

:root {
  --onnet: #007744;
}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.menu{
list-style: none;
float: left;
margin-left: 3em;
position: relative;
z-index: 100;

}

.menu li{
  position:relative;
  float:left;
  width: 170px;
  }

  .menu .submenu li {
    border-bottom: 1px solid #007744;
  }

.menu .submenu li a {
      color: #007744;
}

.menu li a{
  text-decoration:none;
  padding:5px 10px;
  display:block;
  color: #ffffff;
}

.menu li a:hover{
  background:#007744;
  color:#fff;
  font-weight: 600;
}

.menu li  ul{
  position:absolute;
  top:25px;
  left:0;
  background-color:#fff;
  display:none;
  }

  /* Exibindo submenu */

.menu li:hover ul, .menu li:hover ul{
  display:block;
}

.menu li ul li{
  display:block;
  width:150px;
}

/* paginas */

body, header {
  background-color: #FCF9F9;
  /* background-color: #FCF; */
}

.container p, li {
  color: #6e7076;
}

.container h3 {
  padding-bottom: 2em;
  font-size: 2.5em;
  padding-top: 2em;
  position: relative;
  color: #313131;
}

.container h2 {
  margin: 1em 0em;
  color: #313131;
 }

.container {
  position: relative;
  margin-top: 5em;
  font-size: 1.3em;
  margin: 8em;
}

.container img {
    display: flex;
    flex-direction: row;
    margin: 5em auto;
    border-radius: 20px;
    box-shadow: 0 0 10px #6e7076;
    transition: 0.4s;
}

.container img:hover {
  transform: scale(1.1);
}

video {
  border-radius: 10px;
}

