header {
  background-color: var(--onnet);
}

.logo {
  width: 25em;
  display: flex;

}

.barra {
display: flex;
align-items: flex-end;
margin-left: 5em;
}


.submenu {
  background: none;
  border: 0;
}

hr {
  box-shadow: 10px 5px 5px var(--onnet);
}
