<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
    <header>
      <div class="barra">
        <img class="logo" src="assets/logo1.png" alt="Onnet"/>
        <div class="menuu">
          <ul class="menu">
              <li><a routerLink="#">ONUs</a>
                <ul class="submenu">
                  <li><a routerLink="fiberHome">Fiberhome</a></li>
                  <li><a routerLink="huawei">Huawei</a></li>
                  <li><a routerLink="zte">Zte</a></li>
                  <li><a routerLink="intelbras">intelbras</a></li>
                </ul>
              </li>
              <li><a routerLink="#">Roteadores</a>
                <ul class="submenu">
                  <li><a routerLink="tpLink">Tp-link</a></li>
                  <li><a routerLink="greatek">Greatek</a></li>
                  <li><a routerLink="tenda">Tenda</a></li>
                  <li><a routerLink="routerZte">ZTE</a></li>
                  <li><a routerLink="routerIntelbras">intelbras</a></li>
                </ul>
              </li>
              <li><a routerLink="#">Antenas</a>
                <ul class="submenu">
                  <li><a routerLink="tpLink">SXT</a></li>
                  <li><a routerLink="greatek">Airgrid</a></li>
                </ul>
              </li>
              <li><a routerLink="#">Links</a>
                  <ul class="submenu">
                      <li><a routerLink="mkSolutions">Mk Solutions</a></li>
                      <li><a routerLink="mktZap">Mktzap</a></li>
                      <li><a routerLink="agenda">Agenda</a></li>
                  </ul>
              </li>
              <li><a routerLink="#">Programas</a>
                <ul class="submenu">
                  <li><a routerLink="unm">UNM</a>
                  <li><a routerLink="u2000">U2000</a></li>
                  <li><a routerLink="netNumen">NetNumen</a></li>
                  <li><a routerLink="dude">The Dude</a></li>
                </ul>
              </li>
              <li>
                <a routerLink="#">Informações</a>
                <ul class="submenu">
                    <li><a routerLink="RedirecionamentoDePortaDmz">Redirecionamento de porta</a></li>
                    <li><a routerLink="ip">IPs</a></li>
                    <li><a routerLink="dns">DNS</a></li>
                    <li><a routerLink="outros">Outros</a></li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </header>

    <router-outlet></router-outlet>
